google-api-python-client
git+https://github.com/Adel-Moumen/pyannote-audio.git@ba04fcd9c30eddca167e60cfe3137dfe4a4418ca
#pyannote-audio
faster-whisper
python-dotenv
openai==0.28.1
transformers
ffmpeg-python>=0.2
pandas
setuptools>=65
nltk
langchain==0.0.331
intervaltree
jiwer
spacy
jellyfish
whisper-normalizer
whisper_pyannote_fusion
protobuf==3.20.0
pydantic