google-api-python-client
google-cloud-secret-manager
python-dotenv
torch
torchaudio
faster-whisper
openai==0.28.1
transformers
ffmpeg-python>=0.2
pandas
setuptools>=65
nltk
langchain==0.0.331
intervaltree
jiwer
spacy
jellyfish
whisper-normalizer
pyannote-audio
whisper_pyannote_fusion
