torch
torchaudio
google-auth
google-oauth
google-auth-oauthlib
google-api-core
google-api-python-client
google-cloud-secret-manager
faster-whisper>=0.8
transformers
ffmpeg-python>=0.2
pandas
setuptools>=65
nltk
langchain
whisper_pyannote_fusion
whisperx @ git+https://github.com/m-bain/whisperx.git

